<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome Home</h1>
    <form method="POST" action="/form/db">
        <p>Nama</p>
        <input type="text" name="nama">
        <p>Email</p>
        <input type="text" name="email">
        <button type="submit" value="">kirim</button>
    </form>
</body>
</html>